<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8"> <!-- Adjust this value to control form width -->
      <h1 class="text-center mb-4">New Recipe</h1>

      <%= form_with(model: recipe, local: true) do |form| %>
        <% if recipe.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <h4><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h4>
            <ul>
              <% recipe.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :preparation_time %>
          <%= form.number_field :preparation_time, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :cooking_time %>
          <%= form.number_field :cooking_time, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="mb-3 form-check">
          <%= form.check_box :public, class: "form-check-input" %>
          <%= form.label :public, class: "form-check-label" %>
        </div>

        <div class="text-center">
          <%= form.submit 'Create Food', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="text-center mt-4">
        <%= link_to "Back to recipes", recipes_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
