<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div id="<%= dom_id recipe %>">
    <p>
      <%= link_to recipe.name ,recipe %>
    </p>
  
    <% if can? :destroy, recipe %>
      <%= button_to 'Remove', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure' } %>
  <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
