<div class="container p-5">
  <div class="row">
    <div class= "col">
      <p><%= notice %></p>
          <p><strong>Name:</strong> <%= @recipe.name %></p>
          <p><strong>Preparation time:</strong> <%= @recipe.preparation_time %>h</p>
          <p><strong>Cooking time:</strong> <%= @recipe.cooking_time %>h</p>
          <p><strong>Description:</strong> <%= @recipe.description %></p>
          </div>

    <div class="col pt-5 d-flex alig-items-end">
          <% if @recipe.user_id == current_user.id %>
            <%= form_with model: @recipe, url: toggle_recipe_path(@recipe), method: :patch, local: true do |form| %>
              <label class="switch">
                Public:
                <div class="toggle_status_container">
                  <input type="submit" class="btn-check toggle-button <%= @recipe.public ? 'btn-success' : 'btn-danger' %>" id="btn-check-2-outlined" checked autocomplete="off">
                  <label id="label" class="btn <%= @recipe.public ? 'btn-outline-success' : 'btn-outline-danger' %>" for="btn-check-2-outlined"><%= @recipe.public %></label><br>
                </div>
              </label>
            <% end %>
          <% end %>
          </div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col">
        <button type="button" id="generate_shopping_list" class="btn btn-warning gen">Generate Shopping List</button>
        </div>
        <div class="col">
        <% if current_user.id == @recipe.user_id %>
          <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe), class: 'btn btn-primary' %>
        <% end %>
      </div>
      </div>
    </div>
   
  </div>
 
  </div>

  <div class="pop" id="hide">
  <div id="close-popup" class="close-icon cursor-pointer" align="right">&times;</div>
  <h2 class="text-center text-secondary mb-3">Generating Shopping List</h2>
  <h5 class="mt-3 mb-3">Choose a food</h5>

  <%= form_with model: @recipe, url: shopping_lists_path, local: false, remote: true, html: { id: 'generate-form', method: :post } do |f| %>
    <div class="input-group mb-3">
      <%= f.label :food_id, class: "input-group-text", for: "select-food" %>
      <%= f.collection_select :food_id, Food.order(:name), :id, :name, include_blank: true, class: "form-select" %>
    </div>
    <%= f.submit "Generate", class: "btn btn-dark", id: "generate-button" %>
  <% end %>
</div>




  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <div class="d-block mx-auto w-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Food</th>
              <th scope="col">Quantity</th>
              <th scope="col">Value</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @recipe_foods.each do |recipe_food| %>
              <tr>
                <td><%= recipe_food.food.name %></td>
                <td><%= recipe_food.quantity %></td>
                <td><%= recipe_food.quantity * recipe_food.food.price %></td>
                <td>
                  <% if current_user.id == @recipe.user_id %>
                    <%= form_with model: recipe_food, url: recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete, local: false do |f| %>
                      <%= f.hidden_field :food_id, value: "1" %>
                      <%= f.submit "Delete", class: "btn btn-danger btn-sm" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
  document.addEventListener('turbo:load', function() {
    let generate = document.querySelector('#generate_shopping_list');
    let popup = document.querySelector('#hide');

    generate.addEventListener('click', () => {
      popup.style.display = "block";
    });

    let closePopup = document.querySelector("#close-popup");
    closePopup.addEventListener('click', () => {
      popup.style.display = "none";
    });

    let generateButton = document.querySelector('#generate-button');
    if (generateButton) {
      generateButton.addEventListener('click', () => {
        let selectedInventory = document.getElementById('select-inventory');
        let selectedInventoryId = selectedInventory.value;
        let shoppingListUrl = "<%= shopping_lists_path %>";
        let modifiedUrl = shoppingListUrl + '?inventory_id=' + selectedInventoryId + '&recipe_id=' + <%= @recipe.id %>;

        Turbo.visit(modifiedUrl, { action: "replace" });
      });
    }
  })
</script>
