<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
  <p><%= notice %></p>

  <div class="mb-3 recipe-details d-flex justify-content-between align-items-center ">
  <div>
    <p><strong>Name:</strong> <%= @recipe.name %></p>
    <p><strong>Preparation time:</strong> <%= @recipe.preparation_time %>h</p>
    <p><strong>Cooking time:</strong> <%= @recipe.cooking_time %>h</p>
    <p><strong>Description:</strong> <%= @recipe.description %></p>
  </div>
    <div class= "mb-5">
      <strong>Public:</strong> <%= @recipe.public %>
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
    </div>
  </div>
  <button type="button" id="generate_shopping_list"class="btn btn-success ml-5 gen">Generate Shopping List</button>
  <%= button_to "Add ingredient", new_food_path, method: :get, class: "btn btn-success ml-5 gen" %>

  </div>
  </div>
</div>


<div class="w-50 bg-light hauteur border border-1 position-absolute top-50 start-50 translate-middle ps-3" id="hide">
  <div id="close-popup" class="close-icon cursor-pointer m-3" align="right">&times;</div>
  <h2 class="text-center text-secondary mb-3">Generating Shopping List</h2>
  <h5 class="mt-3 mb-3">Choose a food</h5>

  <%= form_with model: @recipe, url: shopping_lists_path, local: false, remote: true, html: { id: 'generate-form', method: :post } do |f| %>
    <div class="input-group mb-3 w-75">
      <%= f.label :food_id, class: "input-group-text", for: "select-food" %>
      <%= f.collection_select :food_id, Food.order(:name),:id,:name, include_blank: true %>
    </div>
    <%= f.submit "Generate", class: "btn btn-dark", id: "generate-button" %>
  <% end %>  
</div>




<script>
document.addEventListener('turbo:load', function() {
  let generate = document.querySelector('#generate_shopping_list');
  let popup = document.querySelector('#hide');
  
  generate.addEventListener('click', () => {
    popup.style.display = "block";
  });

  let closePopup = document.querySelector("#close-popup");
  closePopup.addEventListener('click', () => {
    popup.style.display = "none";
  });
})
</script>