<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Change Your Password</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'needs-validation', novalidate: '' }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group mb-3">
              <%= f.label :password, "New password", class: 'form-label' %>
              <% if @minimum_password_length %>
                <small class="form-text text-muted">
                  (<%= @minimum_password_length %> characters minimum)
                </small>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password_confirmation, "Confirm new password", class: 'form-label' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="text-center">
              <%= f.submit "Change my password", class: 'btn btn-primary' %>
            </div>
          <% end %>

          <div class="mt-2 text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
