<div class="p-5">
 <h1 align="center" class="p-5"> <%= link_to "Add Food", new_food_path, class: "button" %></h1>

  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= number_to_currency(food.price) %></td>
          <td><%= food.quantity %></td>
          <td>
            <% if can? :destroy, food %>
              <%= button_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
