<h1 align="center" class="p-5">General Shopping List</h1>
<p align="center" class="p-1">
  Please note that when your shopping list is generated, it accounts for all the foods needed
  in each recipe, including both private and public recipes that belong to other users.
  This approach is because the app is designed to manage the food needs of a single restaurant,
  considering all users and their recipes, both public and private.
  This ensures that all foods needed by the restaurant are included.
</p>
<div class="d-flex justify-content-around align-items-center">
<% if @shopping_list.present? %>
<p>Total Food Items to Buy: <%= @shopping_list.size %></p>
<p>Total Value of Food Needed: $<%= @shopping_list.sum { |item| item[:difference] * item[:price] } %></p>
<% else %>
<p>No missing items. Your food is well-stocked!</p>
<% end %>
</div>
<div class="m-5">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_list.each do |item| %>
        <tr>
          <td><%= item[:food_name] %></td>
          <td><%= item[:difference] %></td>
          <td><%= item[:difference] * item[:price] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
