<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="mb-4 text-center">Add Food to Recipe</h1>
      <%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe), local: true) do |form| %>
        <div class="input-group mb-3">
          <%= form.label :food_id, class: "input-group-text" %>
          <%= form.select :food_id, @foods.uniq.map { |key| [key.name, key.id] }, {}, { class:"form-select" } %>
        </div>
        <div class="mb-3">
          <%= form.label :quantity, class: 'form-label' %>
          <%= form.number_field :quantity, class: 'form-control', required: true %>
        </div>
        <div class="text-center">
          <%= form.submit 'Create Food', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
